
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.haut {
    display: flex;
    justify-content: space-around;
    justify-items: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;

}

.logo {
    position: relative;
width: 150px;
height: 42px;
}


h1,
.gift {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    top: 200px;
    color: #ffffff;
}

.montserrat-h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.gift {
    font-size: 40px;
}


header {
    background-color: rgba(0, 0, 0, 0.473);
    background-image: url(./images/fond-page4.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
}

ul {
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
    justify-content: flex-end;
    font-weight: 700;


}

li {
    position: relative;
    align-items: center;
    margin: auto;

    font-size: 16px;
    font-size: 1rem;
    padding: 0px 16px 0px 16px;
}

button {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fb2056;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    border: #fb2056;
}

button:hover {
    background-color: #da1c4b;

    border: #da1c4b;


}

.adventure {
    display: inline;
    position: relative;
    top: 00px;
}

#impair {
    margin-top: 150px;
    margin-left: 49px;
}

.premier {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
}

#pair {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.bateau {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.tirer {
    color: #fb2056;
    font-weight: bold;
}


#ad {
    font-size: 14px;
}

#water {
    font-size: 34px;
}


.ski {
    margin: 0;
    width: 20%;
}

footer {
    background-image: url(./images/footer.png);
    background-size: cover;
    background-position: bottom;
    height: 20vh;
    position: relative;
    bottom: -400px;

}
h1{
    font-size: 64px;
}
h1, h2{
    font-family: "Montserrat", sans-serif;
}
li, p{
    font-family: "Noto Sans", sans-serif;
    font-weight: 0;
}
.sun{
    margin: 10px;
}
.sdeux{ 
    margin: 10px;
}
.strois{
    margin: 10px;
}
.sq{
    margin: 10px;
}
.sc{
    margin: 10px;
}
.ss{ 
    margin: 10px;
}
.ssept{
    margin: 10px;
}
.shuit{
    margin: 10px;
}
.un{
    margin: 10px;
}
.deux{ 
    margin: 10px;
}
.trois{
    margin: 10px;
}
.quatre{
    margin: 10px;
}
body {
    margin: 0;
}
 a {text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 2rem;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;


}

img {
    width: 15%;
}
.aventure{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

@media (max-width:1024px) {
    img {
        width: 30%;
           
    }
    ul {
        flex-direction: column;
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    } 
}

@media (max-width:768px) {
    .img {
        width: 40%;
        
    }
    .quatre{
        margin-left: 0px !important;
    }
    ul {
        flex-direction: column;
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    } 
}

@media (max-width:480px) {
    div {
        flex-direction: column;
    }
    img {
        width: 90%;
    }
    h1{
        top: 0;
        margin-left: 40px;
    }
    ul {
        flex-direction: column;
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
    }

    button {
        display: inline;
    }
    footer{
        zoom: 0.7;
    }
}