body {

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


.haut {
    display: flex;
    justify-content: space-around;
    justify-items: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;

}

.logo {
    position: relative;

}

header {
    background-color: var(#191919);
}

h1,
.gift {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    top: 200px;
    color: #ffffff;
}

h1 {
    font-size: 64px;

}

header {
    background-color: rgba(0, 0, 0, 0.473);
    background-image: url(./images/fond-page3.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: color;
    height: 100vh;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    justify-content: flex-end;
    font-weight: 700;
}


li {
    position: relative;
    align-items: center;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    padding: 0px 16px 0px 16px;

}

button {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fb2056;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    border: #fb2056;
}

button:hover {
    background-color: #da1c4b;

    border: #da1c4b;


}

.start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25à0px;
}

.tirer {
    color: #fb2056;
    font-weight: 700;
    font-size: 50px;
    height: 10px;
}

h2 {
    font-size: 34px;
}

.trips {
    display: inline;
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 250px;
    height: 408px;
    padding: 80px;
}

#rondo,
#montagne {
    margin: 10px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.utext {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    top: 250px;
    width: 50%;
}

.dtext {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    top: 143px;
    width: 50%;
    left: 700px;
}

.sport {
    display: inline;
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 250px;
    height: 408px;
    padding: 80px;
}

#lac,
#ski {
    margin: 10px;
    box-sizing: border-box;
    box-shadow: #191919;
}

.ttext {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    top: 250px;
    width: 50%;
}

.qtext {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    top: 143px;
    width: 50%;
    left: 700px;
}

.trois {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    top: 250px;
    width: 40%;
}

.classe {
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
}

h5 {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 250px;
    font-size: 34px;
}

.quatre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    left: 700px;
bottom: 160px;
    width: 40%;
}

footer {
    background-image: url(./images/footer.png);
    background-size: cover;
    background-position: bottom;
    height: 20vh;
    position: relative;
    bottom: 0px;
}