body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    height: 1000vh;
    font-size: 100%;

}

.haut {
    display: flex;
    justify-content: space-around;
    justify-items: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;

}

.logo {
    position: relative;
    max-width: 150px;
}

#main {
    display: block;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-color: grey;
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0;
}

#conteneur {

    position: fixed;
    background-position: center;
    background-size: cover;
    background-color: grey;
    height: 80vh;
    width: 100%;
}

nav {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    grid-column-gap: 20px;
    overflow-wrap: anywhere;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;

}

ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: flex-end;
    font-weight: 700;

}

li {
    position: relative;
    align-items: center;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    padding: 0px 16px 0px 16px;
}

button {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #e42646;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;

}

button:hover {
    background-color: darkred;
}

.learn {
    margin: auto;
    display: flex;
    top: 440px;
    width: 245px;
    height: 63px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    padding: 16px;
    font-weight: 700;
    font-size: 1rem;
}
main{
    display: flex;
    flex-direction: column;
}
.un{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#banner {
    position: absolute;
    width: 100%;
    top: 1200px;
}

#event {
    position: absolute;
    width: 100%;
    top: 1500px;
}

.learndeux {
    margin: auto;
    display: flex;
    top: 2305px;
    width: 280px;
    height: 70px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    left: 180px;
}

.learntrois {
    margin: auto;
    display: flex;
    top: 2305px;
    width: 280px;
    height: 70px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    right: 180px;
}

.learndeux
.learntrois {
    align-items: space-around;

}
.second{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#fix{
    margin: auto;
    display: flex;
    top: 4000px;
}
